Source: mod-languagesubdomain
Section: httpd
Priority: extra
Maintainer: Michal Maruska <michal@ruska.it>
Build-Depends: debhelper (>= 5), apache2-dev
Standards-Version: 3.7.2

Package: mod-languagesubdomain
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2.2-common
Description: Based on hostname, decide the priority of languages.

